@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  color: #000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: linear-gradient(#000d, #000a);
  overflow-y: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay {
  transition-property: opacity, transform;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}